<h2>Reactivos: <small> Dinámicos </small></h2>
<hr />

<form autocomplete="off" [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <!-- name -->
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">name</label>
    <div class="col-sm-9">
      <input
        class="form-control"
        placeholder="name of person"
        formControlName="name"
      />
      <span *ngIf="isFieldValid('name')" class="form-text text-danger">
        error message
      </span>
    </div>
  </div>

  <!-- !ADD TO FAVORITES: -->
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">add</label>
    <div class="col-sm-9">
      <div class="input-group">
        <input
          class="form-control"
          placeholder="Agregar favorito"
          [formControl]="newFavorite"
        />

        <button (click)="onAdd()" class="btn btn-outline-primary" type="button">
          add favorite
        </button>
      </div>
    </div>
  </div>

  <!-- !LIST OF FAVORITES: -->
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">favorites</label>
    <div class="col-sm-9" formArrayName="favorites">
      <!-- * this will be duplicated: -->
      <div
        class="mb-1"
        *ngFor="let favorite of favorites.controls; let i = index"
      >
        <div class="input-group">
          <input [formControlName]="i" class="form-control" />

          <button
            class="btn btn-outline-danger"
            type="button"
            (click)="onDelete(i)"
          >
            delete
          </button>
        </div>
        <span
          *ngIf="isFieldValidInArray(favorites, i)"
          class="form-text text-danger"
          >this field is required!
        </span>
      </div>
      <!-- * -->
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <button type="submit" class="btn btn-primary float-end">
        <!-- [disabled]="myForm.invalid" -->
        save
      </button>
    </div>
  </div>
</form>

<span>Valid</span>
<pre>{{ myForm.valid | json }}</pre>
<br />

<span>Value</span>
<pre>{{ myForm.value | json }}</pre>
<br />

<span>Agregar Juego</span>
<pre>{{ newFavorite.valid | json }}</pre>
<pre>{{ newFavorite.value | json }}</pre>
